:root {
    /*Pääväri*/
    --bs-primary: #8265a7;

    /*Vaalea korostusväri*/
    --bs-highlight: #c2055d; 

    /*Tummempi taustaväri*/
    --bs-secondary: #2A1B3D;

    /*Tummin taustaväri*/
    --bs-tertiary: #0f0916;
}